DATABASE_URL=""
DEV_DATABASE_URL=""

JWT_2FA_SECRET=""
JWT_2FA_EXPIRES_IN=""

JWT_SECRET=""
JWT_EXPIRES_IN=""

FRONTEND_URL=""

PORT=""

RATE_LIMIT_MAX_MESSAGES=""
RATE_LIMIT_WINDOW_MS=""

AUTH_RATE_LIMIT_MAX=""
AUTH_RATE_LIMIT_WINDOW_MS=""
