# openapi.yaml
openapi: 3.0.0
info:
  title: EnigmaChat API
  description: Documentación de la API de EnigmaChat
  version: 1.0.0

servers:
  - url: http://localhost:3000
    description: Servidor de desarrollo

paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Iniciar sesión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Inicio de sesión exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

components:
  schemas:
    Login:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
      required:
        - email
        - password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        imageUrl:
          type: string
          nullable: true
        is2faEnabled:
          type: boolean
